<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <div class= "navbar-collapse collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li class="active"><%= link_to "Home", root_path %>
  </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
  <li><%= link_to "Sign up", new_user_registration_path %></li>
  <li><%= link_to "Sign in", new_user_session_path %></li>
  <div class="navbar-right">
    <p class="navbar-text">
      Signed in as <%= "#{current}" %>
    </p>
  </div>
  </ul>
  </div>
  <%= yield %>
  </header>
  <div class="row">
    <div class="col-md-12">
      <% flash.each do |key, message| %>
        <div class="text-center alert 
          alert -<%= key == 'notice'? 'success': 'danger' %>">
          <%= message %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
